@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

header {
    background-image: linear-gradient(to right, #1EA9FA, #1BDE86);
    height: 100px;
}

#cabecalho {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.logo {
    width: 20%;
    max-height: 100px;
}

.menu {
    padding-top: 20px;
    margin-left: 350px;
}

.menu>a {
    padding: 30px;
}

.menu>a:hover {
    color: #99e2c1;
}

a {
    text-decoration: none;
    color: white;
}

.conteiner_Total {
    display: flex;
    max-height: 688px;
    justify-content: center;
    background-image: linear-gradient(to right, #1EA9FA, #1BDE86);
    color: white;
}

.conteine1 {
    margin: 200px 10px 0px 50px;
    max-height: 100px;
    max-width: 800px;
    padding: 20px;
}

.conteine1>h1 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: normal;
}

.conteine1>p {
    padding-bottom: 30px;
}

.conteine1>a {
    margin: 40px 3px;
    padding: 20px 40px 20px 40px;
}

.linkLearn {
    outline: 2px solid #f6f6f6;
    /* Set the outline width and style */
}

.linkLearn:hover {
    color: #1EA9FA;
    background: white;
}

.obter:hover {
    background: rgb(127, 4, 175);
    outline: 3px solid rgb(127, 4, 175);
}

.obter {
    background: rgb(172, 14, 235);
    outline: 3px solid rgb(172, 14, 235);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.212);
}

.imagemfone {
    margin-left: 100px;
}